@import '~bootstrap/scss/bootstrap';

#welcome-nav-bar {
    color: #EBA83A;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-right: 30px;
}
.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}
.text {
    font-family: 'Satisfy', cursive;
    margin: 20px;
}
body {
    background-color: red;
}
